.logo-pc {
  width: 80px;
  padding: 5px;
}

.img-prod {
  width: 40%; // La imagen ocupa el 40% de ancho del contenedor
  height: 150px; // Todas las imágenes de los productos tienen una altura fija
  object-fit: cover; // Se recortan las imágenes por igual
  margin: 0 auto; // Centra la imagen en su contenedor
}

.imagen-ayuda {
  max-height: 400px;
}

.fondo-nosotros {
  width: 100%;
  max-height: 450px;
  margin-bottom: 12px;
}
